<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<title>Movie DB</title>
	<style>
		.movie-poster {
			cursor: pointer;
		}

		.btn {
			margin: 5px;
		}

		#genres {
			margin: 20px 10px;
		}

		.movie {
			display: inline;
		}
	</style>
</head>
<body>
	<script id="genres-template" type="x-tmpl-mustache">
		{{#genres}}
			<a href="#!{{.}}"><button type="button" class="btn btn-outline-primary">{{.}}</button></a>
		{{/genres}}
	</script>

	<script id="movies-template" type="x-tmpl-mustache">
		{{#movies}}
			<div class="movie">
				<img src="{{posterUrl}}" alt="poster" class="movie-poster" id="{{id}}"/>
			</div>
		{{/movies}}
	</script>

	<script id="description-template" type="x-tmpl-mustache">
			{{#movies}}
				<div class="description" style="padding: 20px;">
					<h2>{{title}}</h2>
					<div class="alert alert-light" role="alert">
						<p><strong>Year:</strong> {{year}}</p>
						<p><strong>Runtime:</strong> {{runtime}}</p>
						<p><strong>Genres:</strong> {{genres}}</p>
						<p><strong>Director:</strong> {{director}}</p>
						<p><strong>Actors:</strong> {{actors}}</p>
					</div>
					<div class="alert alert-warning" role="alert">{{plot}}</div>
				</div>
			{{/movies}}
		</script>

	<div id="genres"></div>
	<div id="movies"></div>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/mustache@2.3.0/mustache.min.js"></script>
	<script src="index.js"></script>
	<script>
		App.start();
	</script>
</body>
</html>